
.eneng{
    text-decoration-color: blueviolet;
}

.carousel-inner{
    background-color: #FCEAE8;
}
.carousel slide {
    background-color: #FCEAE8;
}
.subscribe{
    height: 300px;
}
.catagories img{
    width: 100px;
  
}
.cat-round{
    border-radius: 20px;
}