.bag{
    height: 90px;
    width: 90px;
}

.item-one{
    margin-top: 70px;
}
.carousel-inner{
    background-color: #FCEAE8;
}
.carousel slide {
    background-color: #FCEAE8;
}
.subscribe{
    height: 300px;
}